
pogobackend/venv/

pogobackend/\.idea/

pogobackend/db\.sqlite3

pogobackend/pogobackend/settings\.py

pogobackend/pogobackend/__pycache__/

pogobackend/donations/__pycache__/

pogobackend/donations/migrations/__pycache__/

docker-compose\.yml

volumes/static/

.idea/

pogobackend/donations/management/__pycache__/

pogobackend/donations/management/commands/__pycache__/

pogobackend/donations/management/commands/data/

pogobackend/celerybeat-schedule

*.pid

venv/
volumes/rabbitmq/**
pogobackend/settings.py
pogobackend/__pycache__/settings.cpython-38.pyc
pogobackend/static/admin/**