html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.donationtable{
  padding-bottom: 30px;
}

.usercard{
  width: 90%;
  max-width: 40rem;
}

.paymentcard{
  width: 90%;
  max-width: 40rem;

}

.settingscard{
  width: 90%;
  max-width: 40rem;
}

.btn{
  width: fit-content;
}

.overview{
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
      }
  }
  
i.fas.fa-check-circle {
    font-size: 25;
    color: limegreen;
}

i.fas.fa-times-circle{
  font-size: 25;
  color: #f7041c;
}

.donation-container{
  padding-top: 15px;
}