html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.donationtable{
  padding-bottom: 30px;
}