html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.donationtable{
  padding-bottom: 30px;
}

.usercard{
  border-width: 3px;
  width: 90%;
  max-width: 40rem;
}

.paymentcard{
  width: 90%;
  max-width: 40rem;

}

.settingscard{
  width: 90%;
  max-width: 40rem;
}

.btn{
  width: fit-content;
}